body {
  font-family: sans-serif;
  margin: 2%;
}
.asko {
  background-color: red;
  text-align: center;
  padding: 2%;
  margin-bottom: 2%;
}
.side-bar {
  background-color: yellow;
  float: left;
  padding: 2%;
}
.side-bar h4 {
  color: blue;
}
.game {
  display: inline-block;
  margin: 2%;
}
.game ali {
  font-weight: bold;
  color: yellow;
}
.game button {
  background-color: green;
  padding: 1%;
}
